﻿@charset "utf-8";
/* CSS Document */

body{background-color:#000; border:0px none; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;word-break:break-all;MARGIN: 0px; text-align:center }
 p{margin:0 }
 select,input {font-size:12px }
 h1 {margin:0; font-size:16px }
 h2 {margin:0; font-size:14px; } 
 h3 {margin:0; font-size:12px }
 dl {font-weight:400; margin:0; padding:0 }
 dt {font-weight:400; margin:0; padding:0 }
 dd {font-weight:400; margin:0; padding:0 }
 ul{margin:0; padding:0; list-style-type:none;list-style-position:inside
}
 li {margin:0; padding:0 }

 form {margin:0 }
 input {border:1px solid #cccccc; background:#fff }
 img {border:none } 
 a {color:#fff;text-decoration:none }
 a:hover {color:#ff0d01; text-decoration:underline} 
 .blue {color:#0f4bac }
 .red {color:#ff3300 }
 .yellow {color:#ff6600 }
 .green {color:#009900 }
 .gray {color:#666666 }
 .gray a{color:#666666 }
 .white {color:#ffffff }
 .org{ color:#00993e}
 .clear {clear:both } 
 .bold{ font-weight:800}
 .del{text-decoration:line-through}

 
 
 /*top*/
 .top_line{ height:2px; width:100%; background:url(../images/top_bg.gif) repeat-x}
 #top { width:962px; height:188px} 
 #top .top_home_fav{height:28px;width:100%; text-align:right;  line-height:28px}
 #top .top_home_fav  a{ color:#616161}
 #top .top_logo_banner{ height:80px; width:100%;  background-color:#070709}
 #top .top_logo{ width:200px; height:100%; text-align:center; line-height:80px; float:left}
 #top .top_banner{ width:762px; height:100%; text-align:left; float:left}
 
 #top .lanmu{width:100%;height:47px;background:url(../images/lanmu_bg.gif) repeat-y; }
 #top .lanmu ul{}
 #top .lanmu ul li{ height:47px; line-height:47px;;width:80px; float:left; margin-left:2px;}
 #top .lanmu ul span{ height:47px; width:2px;color:#FFF; font-size:24px; display:block; float:left}
 .lanumu_bg{ background:url(../images/line.gif) right no-repeat}
 #top .lanmu li a{ font-size:14px; color:#FFF; font-weight:800}

 .top_search{ width:100%;height:24px; margin-top:5px; text-align:left}
 .top_search_input{ width:225px; height:22px;}
 .top_search_button{ border:0; background-color:#000; color:#FFF; font-size:19px; font-weight:800; margin-left:5px;height:22px;}


#content { width:962px; margin-top:5px; background-color:#FFF}


.colmn{height:435px; width:100%}
.colmn_title{ height:35px; width:100%; background-color:#2b2f32; line-height:35px; text-indent:10px;  font-size:22px; color:#FFF; font-weight:800; text-align:left}
.colmn_content{ height:400px; width:100%; background:url(../images/bg.gif) top repeat-x}
.colmn_content ul{ padding-top:15px; padding-left:18px}
.colmn_content li{ width:300px; height:367px; float:left; margin-right:10px; background:url(../images/bg2_top.gif) top no-repeat}

.colmn2{width:319px; height:426px;  float:left; margin-left:1px}
.colmn_content2{ height:400px; width:100%; background:url(../images/bg.gif) top repeat-x}
.colmn_content2 ul{ padding-top:15px; padding-left:18px}
.colmn_content2 li{ width:300px; height:367px; background:url(../images/bg2_top.gif) top no-repeat}


.zhanshi{ width:100%; height:311px; margin-top:9px;  background:url(../images/bg2_bg.gif) repeat-y}
.zhanshi .zhanshi_tit_word { margin-top:5px;   width:268px; height:58px; overflow:hidden; }
.zhanshi .zhanshi_tit_word  a{ font-size:16px; font-weight:800;line-height:18px;color:#334787;}
.zhanshi .zhanshi_img{ width:268px; height:168px; border:1px solid #dfdfdf; margin-top:8px}
.zhanshi .zhanshi_img img{ width:266px; height:166px}

.zhanshi_btn{ width:100%; height:47px; background: url(../images/bg2_button.gif) no-repeat}
.zhanshi_btn .xin{ font-size:14px; color:#000; margin-top:20px; display:block; float:left; text-indent:15px}
.zhanshi_btn .xin a{ color:#F00; }
.zhanshi_btn .ping a{ font-size:13px; color:#FFF; margin-top:16px;display:block; float:right; width:66px; height:30px; font-weight:800; padding-right:10px}
.zhanshi_btn .ping a:hover{ text-decoration:none}

.zhanshi_price{ width:100%; height:28px; margin:18px 0px}
.zhanshi_price .price1{ margin-top:5px; font-size:13px; font-weight:800; color:#000; display:block; float:left; text-indent:15px}
.zhanshi_price .price2{ font-size:18px; color:#F00; font-weight:800; display:block; float:right; padding-right:18px}

.a_d_v{ width:100%; margin:18px 0px 10px 0px}

.page { width:250px; height:24px; margin:10px 0px; text-align:center}
.page_btn{ width:64px; height:100%; float:left; margin-left:5px}
.pagelist{ float:left}
.pagelist ul{}
.pagelist li{width:20px; height:20px;margin-left:5px; float:left;}
.pagelist li a{ width:20px; height:20px; line-height:20px; display:block;  color:#0053a5; }
.pagelist li a.on{ background:url(../images/page_select.gif) no-repeat; color:#FFF}
.pagelist li a:hover{text-decoration:none; color:#F00}

.btn_return{ margin:27px 0px 8px 0px; width:109px; height:31px}

.daohang{ margin-top:20px; height:23px; border:1px #cccccc dotted; line-height:23px; text-align:left; text-indent:15px}
.daohang a{ color:#0044dd}

.detail_content{ background-color:#FFF; height:2200px }
.detail_left{ width:698px; float:left;text-align:left;background-color:#FFF;}
.detail_right{ width:244; float:right; text-align:left}

.pic_kuang{ height:470px; width:100%; margin-top:8px}
.pic_kuang_left{ width:408px; height:463px; float:left; border:1px #dddddd solid}
.pic_kuang_right{ width:255px; height:463px; float:right; text-align:left}
.pic_kuang_right ul{ padding-top:20px}
.pic_kuang_right ul li{ height:33px; line-height:33px; font-size:14px}

.detail_bigpic_kuang{ width:100%; height:400px}
#detail_bigpic{ width:400px; height:400px}

.detail_small_pic{ margin-top:2px; width:100%}
.detail_small_pic ul{}
.detail_small_pic ul li{ width:51px; height:51px; border:1px #eaeaea solid; float:left; margin-left:2px}
.detail_small_pic ul li img{ width:44px; height:44px;}
.detail_small_pic ul li img.on{ border:2px #b6e000 solid}

.product_intro_t{ width:691px; height:35px; line-height:35px; text-indent:10px;background:url(../images/product_intro_bg.gif) no-repeat; font-size:14px; font-weight:800; color:#F00}
.product_intro{ width:100%; height:auto; padding-top:10px;text-indent:15px;}

.product_message_t{ width:696px; height:29px; line-height:29px; background:url(../images/dianping_bg.gif) no-repeat; font-size:14px; font-weight:800; margin-top:10px;text-indent:10px;}
.product_message{ text-indent:15px; height:242px}
.product_message p{ line-height:33px;}

.text_broder{ border:1px #7f9db9 solid}
.text_broder_no{ border:0}

.shangjia{ background-color:#f8f8f8}
.shangjia_title{ height:30px; width:100%; line-height:30px; font-weight:800; border-bottom:1px #e1e1e1 solid}
.shangjia_content ul li{ height:30px; line-height:30px}

.map{ width:208px; height:273px; border:1px #f2efef solid; margin-top:5px}
.map_img{ margin-top:6px; margin-left:6px; }
.map_view{  margin-top:10px; text-align:center;}
.map_view a{ color:#333333}

.tuijian{ border:2px #cfcfcf solid; text-align:center;  margin-top:10px; margin-right:2px; width:230px}
.tuijian_t{ margin-top:5px; font-weight:800; height:30px; line-height:30px; font-size:14px}
.tuijian_content li{ height:242px; border-bottom:1px #cccccc dotted; }
.tuijian_content li p{ margin:5px 0}
.tuijian_content li a{color:#909090}

.right_column{width:230px; height:203px; margin-top:10px}
.right_column_t{ height:8px; width:100%; background:url(../images/detail_right_bg_top.gif) no-repeat}
.right_column_middle{ width:100%; height:187px; background:url(../images/right_bg.gif) repeat-y; text-indent:6px; margin-top:-6px}
.right_column_middle p{ margin:5px 0}
.right_column_middle ul { }
.right_column_middle ul li{ height:30px; line-height:30px; text-align:center}
.right_column_middle ul li.bg{ background-color:#f2f2f2}
.right_couumn_button{ height:8px; width:100%; background:url(../images/right_bg_button.gif) no-repeat}

.right_kefu{ width:197px; height:198px; border:1px #f6f5f5 solid}
.right_kefu ul{ padding-top:5px; padding-left:5px}
.right_kefu ul li{ height:33px; line-height:33px}

.right_text{ border:1px solid #7f9db9; margin-left:6px}

 #camp ul {float:left; width:680px }
 #camp li {width:680px; text-indent:10px; list-style-type:none }
 #camp a {color:#000}
 #camp a:link {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:visited {padding:5px; border-bottom:#cccccc 1px dashed; margin-top:5px; display:block; background:url(../images/ico.gif) no-repeat 5px 11px }
 #camp a:hover {padding:5px; margin-top:5px; display:block; background:#f3f3f3 url(../images/ico.gif) no-repeat 5px 13px; text-decoration:none }
 #camp h3 {float:left }
 #camp span {display:block; padding:0 20px 0 0 } 
 #commentary {clear:both; margin:10px auto }
 
 /*pages*/
 .aboutLeft {float:left; width:186px }
 .aboutRight {float:right; width:764px }
 .ColumnTitle4 { line-height:30px; background-color:#2b2f32; color:#FFF; margin-left:5px; margin-top:5px }
 .abouttitle {overflow:hidden; width:100% }
 .about {margin:5px auto; padding:0 }
 .about li {line-height:26px; margin-left:5px; border-bottom:#CCC dotted 1px;  background-color:#FFF;} 
 .about li a{ line-height:26px;color:#999;font-size:14px; display:block; font-weight:800}
 .about li  .on{ background-color:#2b2f32; color:#fff; border:0;}

 
 .ColumnNews_t{ font-size:16px; margin-top:5px}
 .ColumnNews {margin:0px 4px 10px 4px; padding:5px 10px; text-align:left }



#footer{ width:962px; height:80px; color:#FFF; clear:both}
#footer a{ color:#FFF}
#footer .link{margin-top:5px}
#footer .copy{ margin-top:20px}
#footer .copy .copy_left{ width:700px;  float:left; margin-left:45px }
#footer .copy .copy_right{ width:34px;  float:left; text-align:center}
#footer .copy .copy_right_word{ width:60px; float:left; margin-left:10px; text-align:left}